{% extends "base.jinja2" %}

{% block content %}
  {% for book in books %}
  <h2><a href="{{book.url}}">{{book.title}}</a></h2>
  {% if book.toc %}
  <ul>
    {% for entry in book.toc %}
    <li><a href="{{entry.url}}">{{entry.title}}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
{% endblock %}
